<template>
  <v-app>
    <v-app-bar  app  color="primary"  dark >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Vueshop</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon to="/about">
        <v-badge color="orange" overlap>
            <template v-slot:badge>
              <span>3</span>
            </template>
          <v-icon>mdi-cart</v-icon>
        </v-badge>
      </v-btn>
      <v-text-field
        slot="extension" 
        hide-details
        append-icon="mdi-microphone"
        flat
        label="Search"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
      ></v-text-field>
    </v-app-bar>
    <v-card>
  <v-footer absolute app>
    <v-card-text class="text-center">
      &copy; {{ new Date().getFullYear() }} — <strong>Vueshop</strong>
    </v-card-text>
  </v-footer>
</v-card>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
